{% extends "layout/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col ms-auto">
            <h1>Libros</h1>
            <a class="btn btn-primary" href="/books/add" role="button">Agregar Libro</a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col ms-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Autores</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <th scope="row">{{ book.id }}</th>
                  <td>{{ book.name }}</td>
                  <td>
                      {% for author in book.authors.all %}
                        < {{ author.first_name }} , {{ author.last_name }} >
                      {% endfor %}
                  </td>
                  <td>{{ book.status }}</td>
                  <td>
                      <a class="btn btn-primary" href="/books/{{ book.id }}"><i class="bi bi-pencil"></i> Editar</a>
                      <a class="btn btn-primary" href="/books/{{ book.id }}/delete"><i class="bi bi-eraser"></i> Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}