{% extends "layout/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col ms-auto">
            <h1>Usuarios</h1>
            <a class="btn btn-primary" href="/users/add" role="button"><i class="bi bi-plus-square"></i> Agregar Usuario</a>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col ms-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Fecha de nacimiento</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <th scope="row">{{ user.id }}</th>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.birth_date }}</td>
                  <td>
                      <a class="btn btn-primary" href="/users/{{ user.id }}"><i class="bi bi-pencil"></i> Editar</a>
                      <a class="btn btn-primary" href="/users/{{ user.id }}/delete"><i class="bi bi-eraser"></i> Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}