{% extends "layout/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col ms-auto"><h1>Autores</h1></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col ms-auto">
            <form action="/authors/add" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary mb-3" type="submit" value="Guardar">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>



{% endblock %}
